version: '3'

services:
  kw-connector:
    build:
      context: kiwee_connector/
      args:
        NAME: KIWEE_CONNECTOR
    ports:
      - "8002:8002"
    networks:
      - kiwee_net

  kw-apis:
    build:
      context: kiwee_dashboard_api/
      args:
        NAME: KIWEE_DASHBOARD_API
    ports:
      - "8001:8001"
    depends_on:
      - kw-connector
    networks:
      - kiwee_net


  kw-gui:
    build:
      context: kiwee_gui/
      args:
        NAME: KIWEE_DASHBOARD_API
    ports:
      - "8000:8000"
    volumes:
      - static_volume:/src/assest/
    depends_on:
      - kw-apis
    networks:
      - kiwee_net


  nginx:
    build:
      context: nginx/
    ports:
      - "8080:80"
    volumes:
      - static_volume:/src/assest/
    depends_on:
      - kw-gui
    networks:
      - kiwee_net


networks:
  kiwee_net:
    driver: bridge

volumes:
  static_volume:
